{% extends "base.twig" %}

{% block content %}
	<div id="home-page">
		<div id="hero" style="background:url({{post.thumbnail.src}}) no-repeat;" class="d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h1 class="title">{{post.get_field('hero').title}}</h1>
						<h1 class="subtitle">{{post.get_field('hero').subtitle}}</h1>

					</div>
				</div>
			</div>
		</div>

		<div id="cta-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9 mx-auto">
						<div class="row d-flex justify-content-around">
							<div class="col-md-4">

								<a href="{{post.get_field('cta_1_link').url}}" class="cta-card d-block">
									<svg class="d-block mx-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="40" viewbox="0 0 33 40">
										<image id="fleche_locataire" data-name="fleche locataire" width="33" height="40" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAoCAYAAABw65OnAAAB10lEQVRYhe2YMUscQRhA32lIkcZ2QAhekzr2Fjq1IRYnSCIhkyqXiGUgv0Bsr7ik0RHFkCJwRQJJNfEf2NsYAsK0AbEIijI4I+tyuzu7d9fNq5ad7/vm7ezs7uy0qImVag44LclqC6P/1Kk6VVdiEiSJQJIIJIlAkggkiUCSCCSJQJIIJInAA27XjW1gE3gCnAGfhNHH4+7MSjUPdIFZ4AToCaNPW1aqp8ARMJOJvwReC6MPhxRqtNC1Ur0E9sKFe/4Bi+529HIC+MB9K5VqeNF5gTeuXk4A32/PSSwU5Lq2XStVd0QBl79TMv8WXMN5RZ1+UxGf168IO3cSBxH1nMhGTYGNCAHHgZuYj4AfwFJEwkfga9XEBNaArYh6v4HlKWH0hTvwJ6rY8o9YGd06Aq7/u3/RmiMyKncCZGdsZkR+TVjgZ1aA/GPjG54D3yck4OquZAUcQ7cGrFQPgW/AszELdITR//MNQ18gPrADDMYkMCgSKJTIiKwCX0YUcPmrRQIU3Y4sVqpp/95/0VDglTD6qiwoaruooUiUALGLGl9oHfgcKeDi1mMEiB2JgJWq5b8HbysE3gmjr2PrNtm9KxOpLdBIIiPzHvgAPAb+AtvC6Jiv5n2AG3xxlQNQT7mQAAAAAElFTkSuQmCC"/>
									</svg>

									<p class="cta pink" class="cta-card">
										{{post.get_field('cta_1_title')}}
									</p>
								</a>

							</div>

							<div class="col-md-4">
								<a href="{{post.get_field('cta_2_link').url}}" class="cta-card d-block">
									<svg class="d-block mx-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="40" viewbox="0 0 33 40">
										<image id="fleche_proprio" data-name="fleche proprio" width="33" height="40" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAoCAYAAABw65OnAAAB5klEQVRYhe3YMUscQRjG8f+NYpHGDxAQbVInrbFQsLAwJAGFEI9MkkqNhKkEK8uQbrjCpFGcSIKgYCCB2JlvkD6NIuQDCGJhdAyDM7Jebvdm9+66ecrbd9757e7c7d7UKBlh9DBwWDBqxEp1VKarKIvoRRIiJCFCEiIkIUISIiQhQhIiJCFCEiKkn+v3xhHgLXAP+AN8sFL96vZkwugHwAJwF/gNNKxUhzVh9H3gJzCYqb8AXlqpPrdoVOlFVxg9B2yGE/c5Acbd7Wg0AfCFn4TRryqedDPgtevXBMDP23CIsbyxwIYweqFDgBu/XrD+xtyB0zZ91qpC/Li1NmWnDrEV0c9BlkoCliIALltuYd4BvgMTEQNWgO12CxN4BryL6HcATPddfd3/W3s6tQOM+gZFmQTOgYcFNe74aizASnV281+05BXpNDcAsivWfzAN7PcY8CMLoPlr4w88Br71COD6PskCXFpuDQijB4Bd4FGXATNWqvP/5mtV7QtngL0uAfbyALmIDGQW+NIhwI2fzQOQdzuyEUb3+d/95xUBL6xUl0VFUdtFFSFRAGJfanyjOvAxEuDq6jEAYq9EiDC65p8H820Ai1aqq9i+VXbviiClAZUQGcwbYBkYAo6B91aqmKfm7QD/AAx4l/pNYM19AAAAAElFTkSuQmCC"/>
									</svg>

									<p class="cta green" class="cta-card">
										{{post.get_field('cta_2_title')}}
									</p>
								</a>
							</div>

							<div class="col-md-4">
								<a href="{{post.get_field('cta_3_link').url}}" class="cta-card d-block">
									<svg class="d-block mx-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="40" viewbox="0 0 33 40">
										<image id="fleche_dev_locataire" data-name="fleche dev locataire" width="33" height="40" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAoCAYAAABw65OnAAAB6ElEQVRYhe3YvUscQRjH8a+epEhjmSIgCiGdoLBckVhESGlICotgQNQ0czpYClaWklYGM02CKAkBAyIGtdNaBHsbRcgfEBALX8Nze6N3ye3e7O1dN7/m4OZ5nv3s3tzbdpA1WvUCJyldfRh7mmVqZ2ZEGxIQLgHhEhAuAeESEC4B4RIQLgHhEhAuXeVHrfqAWeA58Bv4jLFHLT+aVoNACXgKHANLGHvSgVYDwD7QXVV+DUxg7Lc6g5r7oavVB2Dl/sTj/AFedZY1tQAqhatoNdnMCdcBTJXn1QKoHHdJEEMJrbL2Fa1KOQHS/yVl/w3JwnmDMctNQ+K+5QZV54JY8xgnEJ0RoD0AkjXZmI+BX8CwR8M88KPhxoT3wKLHvD1gpMDB4RXFaB14URmQltfAJfAypUbWF3wBGHvx8F802xXJm3sANTs2fmIE2G0zYKcawH9vm3jhLbDVJoDMfVcNkNS/NaDVI+An8KbFgFGMvfx3of4HSFw4Cmy0CLCRBJAUEtsODm8oRnI1ngH9OQDfgTGMvU4qSEbEkDuK0WYOiADGMfYmrSgdkQ/iBfBDPEDkdX0CRB4dFviIsbc+4/0QMQSK0bYHRADTGHvnO9of4QfJDJBkv4XootUMMAf0AGfAJ4z1+dasDfAXi42I3rEV5tkAAAAASUVORK5CYII="/>
									</svg>

									<p class="cta green-strong" class="cta-card">
										{{post.get_field('cta_3_title')}}
									</p>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="blog-section">
			<div class="container">
				<div class="row">
					<div class="col-md-10 mr-auto">
						<h2>{{post.get_field('news_title')}}</h2>
					</div>
				</div>

				<div class="row blog-row">

					{% for blog in blogs | slice(0,3) %}
						<div class="col-md-4 d-none d-md-block">
							<div class="post-card">
								<a href="{{blog.link}}"><img src="{{blog.thumbnail.src}}" alt="{{ blog.thumbnail.alt }}"></a>
								<div class="post-description">
									<p class="label">{{blog.category}}</p>
									<div class="post-content">
										<a href="{{blog.link}}">
											<h3>{{blog.title}}</h3>
										</a>
										<p>{{blog.post_content|excerpt(25)}}</p>
										<a class="blog-link" href="{{blog.link}}">
											<span class="iconify" data-icon="akar-icons:plus" data-inline="false"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}


					{# mobile carousel #}
					<div id="carousel" class="carousel slide d-block d-md-none" data-bs-ride="carousel">

						<div class="carousel-indicators mt-5">
							{% for blog in blogs | slice(0,3) %}
								{% if loop.first %}
									<button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
								{% else %}
									<button type="button" data-bs-target="#carousel" data-bs-slide-to="{{loop.index - 1}}"></button>
								{% endif %}
							{% endfor %}
						</div>

						<div class="carousel-inner">
							{% for blog in blogs | slice(0,3) %}

								{% if loop.first %}
									<div class="carousel-item active pb-5">
									{% else %}
										<div class="carousel-item pb-5">
										{% endif %}

										<div class="post-card">
											<a href="{{blog.link}}"><img src="{{blog.thumbnail.src}}" alt="{{ blog.thumbnail.alt }}"></a>
											<div class="post-description">
												<p class="label">{{blog.category}}</p>
												<div class="post-content">
													<a href="{{blog.link}}">
														<h3>{{blog.title}}</h3>
													</a>
													<p>{{blog.post_content|excerpt(20)}}</p>
													<a class="blog-link" href="{{blog.link}}">
														<span class="iconify" data-icon="akar-icons:plus" data-inline="false"></span>
													</a>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}

							</div>
						</div>
						{# end carousel #}

						<div class="col-md-12 text-center">
							<a href="{{post.get_field('news_cta_link').url}}" class="button-cta ">{{post.get_field('news_cta_text')}}</a>
						</div>

					</div>
				</div>
			</div>

			<div id="stats-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>{{post.get_field('patrimoine_title')}}</h2>
						</div>
					</div>
				</div>

				<div class="stats">
					<div class="container mw-1200">
						<div class="row">
							<div class="col-md-5">
								<div class="row text-center">

									<div class="col-6 mb-3">
										<img src="{{Image(post.get_field('patrimoine_illustration_1')).src}}" alt="{{Image(post.get_field('patrimoine_illustration_1')).alt}}">
										<p class="mt-3">{{post.get_field('patrimoine_title_1')}}</p>
									</div>

									<div class="col-5 mb-4">
										<img src="{{Image(post.get_field('patrimoine_illustration_2')).src}}" alt="{{Image(post.get_field('patrimoine_illustration_2')).alt}}">
										<p class="mt-3">{{post.get_field('patrimoine_title_2')}}</p>
									</div>

								</div>

								<div class="row text-center mt-4">

									<div class="col-6 text-center">
										<img src="{{Image(post.get_field('patrimoine_illustration_3')).src}}" alt="{{Image(post.get_field('patrimoine_illustration_3')).alt}}">
										<p class="mt-3">{{post.get_field('patrimoine_title_3')}}</p>
									</div>

									<div class="col-5">
										<img src="{{Image(post.get_field('patrimoine_illustration_4')).src}}" alt="{{Image(post.get_field('patrimoine_illustration_3')).alt}}">
										<p class="mt-3">{{post.get_field('patrimoine_title_4')}}</p>
									</div>

								</div>

							</div>
							<div class="col-md-7 map-container">
								{% include "./partial/oph-map.twig" %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="media-section">
				<div class="container">

					<div class="row">
						<div class="col-md-12 mb-5">
							<h2>{{post.get_field('media_title')}}</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">

							<div class="cta-journal d-flex align-items-center justify-content-around mb-5">
								<a target="blank" class="d-flex align-items-center justify-content-around" href="{{post.get_field('media_file_1')}}">{{post.get_field('file_label')}}</a>
							</div>

							<div class="position-relative">
								<a href="{{post.get_field('media_cta_link').url}}" class="button-cta d-none d-md-inline-block">{{post.get_field('media_cta_text')}}</a>
							</div>
						</div>

						<div class="col-md-5">
							<div class="cta-locataire">
								<a target="blank" href="{{post.get_field('media_file_2')}}">
									<img src="{{Image(post.get_field('media_image_cover')).src}}" alt="{{Image(post.get_field('media_image_cover')).alt}}">
									<p>{{post.get_field('file_label_2')}}</p>
								</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="side-cta-container">
								<div class="row">
									<div class="col-6 col-sm-6 col-md-12">
										<div class="side-cta h-160">
											<span class="label">{{post.get_field('media_publication').tag}}</span>
											<a target="blank" href="{{post.get_field('media_publication').file}}">{{post.get_field('media_publication').title}}</a>
										</div>
									</div>

									<div class="col-6 col-sm-6 col-md-12">
										<div class="side-cta h-160">
											<span class="label">{{post.get_field('media_video').tag}}</span>
											<a target="blank" href="{{post.get_field('media_video').link}}">{{post.get_field('media_video').title}}</a>
										</div>
									</div>

									<div class="col-md-12">
										<div class="side-cta">
											<span class="label">Publication</span>
											<a target="blank" href="#">Toute les publications</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	{% endblock %}
