{% block content %}
	<div id="nav">
		<div class="container">
			<div class="row gx-0">
				<div class="col-md-3 col-sm-6  w-23">
					<a class="site-logo" href="{{site.link}}">
						<img src="{{Image(theme_settings[0].header_logo).src}}" alt="Logo OPH">
					</a>
				</div>
				<div class="col-md-9 col-sm-6 w-77">
					<div class="top-menu">
						{% if post.title == theme_settings[0].top_header_label_1_text %}
							<a class="top-menu-cta current" href="{{theme_settings[0].top_header_label_1_link.url}}">
								{{theme_settings[0].top_header_label_1_text}}
							</a>
						{% else %}
							<a class="top-menu-cta" href="{{theme_settings[0].top_header_label_1_link.url}}">
								{{theme_settings[0].top_header_label_1_text}}
							</a>
						{% endif %}

						{% if post.title == theme_settings[0].top_header_label_2_text %}
							<a class="top-menu-cta current" href="{{theme_settings[0].top_header_label_2_link.url}}">
								{{theme_settings[0].top_header_label_2_text}}
							</a>
						{% else %}
							<a class="top-menu-cta" href="{{theme_settings[0].top_header_label_2_link.url}}">
								{{theme_settings[0].top_header_label_2_text}}
							</a>
						{% endif %}
						<span class="top-menu-cta">
							Suivez-nous :
							<a target="blank" href="{{theme_settings[0].top_header_linkedin.url}}">
								<span class="iconify" data-icon="entypo-social:linkedin"></span>
							</a>
							<a target="blank" href="{{theme_settings[0].top_header_insta.url}}">
								<span class="iconify" data-icon="cib:instagram" data-inline="false"></span>
							</a>
						</span>

						<button id="form-toggler" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="iconify" style="font-size:20px" data-icon="il:search" data-inline="false" data-flip="horizontal"></span>
						</button>
						<div
							class="dropdown-menu" aria-labelledby="search-dropdown">

							{# search from #}
							{% include "./partial/searchform.twig" %}

						</div>

					</div>

					<div class="divider"></div>

					<div class="d-flex align-items-center">
						<ul class="main-navigation">
							{% for item in menu_header.items %}
								{% if item.current and not item.cta %}
									<li>
										<a aria-current="page" href="{{item.link}}" class="current">{{item.title}}</a>
									</li>
								{% elseif item.current and item.cta %}
									<li>
										<a aria-current="page" class="button" href="{{item.link}}">{{item.title}}</a>
									</li>
								{% elseif item.cta %}
									<li>
										<a class="button" href="{{item.link}}">{{item.title}}</a>
									</li>
								{% else %}
									<li>
										<a href="{{item.link}}">{{item.title}}</a>
									</li>
								{% endif %}

							{% endfor %}
						</ul>
						<a id="toggler" class="d-block ml-auto">
							<span class="iconify menu-trigger" data-icon="eva:menu-fill" data-inline="false"></span>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
